<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App - Signup</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>
    <main>
        <h1>Login</h1>
        <p>Login your account</p>
        <form action="/login_user" method="post">
            <input type="email" placeholder="Email" name="email" autocomplete="off">
            <input type="password" placeholder="Password" name="password" autocomplete="off">
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>