<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App - Signup</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>
    <main>
        <h1>Signup</h1>
        <p>Create your account</p>
        <form action="/signup_user" method="post">
            <input type="text" placeholder="Name" name="name" autocomplete="off">
            <input type="text" placeholder="Username" name="username" autocomplete="off">
            <input type="email" placeholder="Email" name="email" autocomplete="off">
            <input type="text" placeholder="Age" name="age" autocomplete="off">
            <input type="password" placeholder="Password" name="password" autocomplete="off">
            <button type="submit">Signup</button>
        </form>
    </main>
</body>
</html>