<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>ToDo List-Home</title>
</head>
<body>
    <main>
        <div class="box heading">
            <h1><%= kindOfDay %></h1>
        </div>
        <div class="box notes-box">
            <div class="notes-container">
                <% for(let i = 0; i < newItems.length; i++){  %>
                    <div class="note">
                        <input type="checkbox">
                        <p><%= newItems[i] %></p>
                    </div>
                    <% } %>
                </ul>
            </div>
                <form action="/" method="post">
                    <input type="text" name="newItem" placeholder="Enter the list item">
                    <button type="submit" name="button">+</button>
                </form>
            </div>
    </main>
</body>
</html>